<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), role: 'form') do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control" %></div>

  <div class="form-group"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>

  <div class="form-group"><%= f.label :first_name %><br />
    <%= f.text_field :firstname, class: "form-control" %></div>

  <div class="form-group"><%= f.label :last_name %><br />
    <%= f.text_field :lastname, class: "form-control" %></div>
  
  <div class="form-group"><%= f.label :date_of_birth %><br />
      <%= f.date_field :dob, class: "form-control", id: "dob" %></div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#dob').datepicker();
    })
  </script>





  <div><%= f.submit "Sign up", class: 'btn btn-default' %></div>
<% end %>

<%= render "devise/shared/links" %>
